.bg_img{
    background: url(../../assets/images/green-background-image.jpg) no-repeat;
    height: 100%;
    width: 100%
}
.tab-container {
    margin: 0 auto;
    background: #f7f7f7;
    width: 100%;
    tr{
        
        border: solid 1px #fff;
    }
    td{
        padding: 10px;
    }
}

